@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 203deg 15% 38%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 203deg 25% 28%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 203deg 25% 28%;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 220deg 8% 72%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 220deg 10% 88%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 220deg 12% 82%;
	}

	html {
		@apply scroll-smooth;
	}

	html body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}

	/* Center images in blog posts */
	.prose img {
		@apply mx-auto rounded-lg;
	}

	.prose figure {
		@apply text-center;
	}

	.prose figcaption {
		@apply text-center text-xs text-gray-500 dark:text-gray-400 mt-2;
	}
}
